@use '../../../../colors' as colors;

.rounded__list {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.rounded__listItem {
  padding: 10px 30px;
  cursor: pointer;
  border-left: 1px solid lightgray;
  background-color: whitesmoke;

}

.item-wide {
  padding: 3px 25px;
}


li:first-child {
  border-left: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

li:last-child {
  border-right: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.rounded__listItem:hover {
  background-color: colors.$accent-color;
}

.disabled {
  cursor: initial;
  opacity: 0.30;

}
.rounded__listItem.disabled:hover {
  cursor: initial;
  background-color: whitesmoke;
}
