@use '../../../../colors' as colors;

li {
  --selected: greenyellow;
  --reserved: rgb(155, 71, 51);
}

.seats {
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: 40px;
  height: 40px;
  background-color: white;
}

.seatLetter {
  background-color: rgb(230, 230, 230);
}
.seatNumber:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.seatNumber.selected:hover {
  background-color: var(--selected);
  cursor: pointer;
}


.selected {
  background-color: var(--selected);
}

.reserved {
  background-color: var(--reserved);
}

.seatNumber.reserved:hover {
  background-color: var(--reserved);
  cursor: unset;
}


