.reservation {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}

.selectedMovie {
  display: flex;
  justify-content: center;
  font-size: 1.25em;
}

.ticketList {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  align-self: center;
  gap: 1.5em;
}

.ticketList__item {
  display: flex;
  gap: 10em;
}

.ticketList__total {
  display: flex;
  align-self: end;
  gap: 2em;

}

.checkoutForm {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  align-self: center;
}

.checkoutForm__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.checkoutForm__field > input {
  padding: 0.5em 1.5em;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.checkoutForm > label {
  margin-bottom: 0.2em;
}

.checkoutForm__errorMessage {
  color: red;
}
.error {
  border: 1px solid red;
}

.checkoutForm > a {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn-submit {
  align-self: end;
}


// .selectedMovie {
//   font-size: 1.4em;
//   margin-top: 2em;
//   margin-bottom: 2em;
// }

// .selectedMovie {
//   display: flex;
//   justify-content: center;
// }
// .ticketList {
//   display: grid;
//   min-width: 400px;
// }
// .ticketList__item {
//   display: flex;
//   justify-content: space-between;
// }

// .ticketList__total {
//   display: flex;
//   justify-self: end;
//   margin-top: 1em;
//   margin-bottom: 1em;
// }

// .ticketList__totalLabel {
//   padding-right: 1em;;
// }

// .checkoutForm {
//   display: inline-flex;
//   flex-direction: column;
// }

// .checkoutForm > input {
//   padding: 0.5em 1.5em;
//   border: 1px solid lightgray;
//   border-radius: 5px;
// }

// .checkoutForm > label {
//   margin-bottom: 0.2em;
// }
// .checkoutForm > input, p, a {
//   margin-bottom: 1.5em;
// }

// .checkoutForm > a {
//   margin-top: 1.5em;
// }

// .newsletter {
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   margin-top: 0.8em;
//   margin-bottom: 0.8em;
// }

// .btn-submit {
//   align-self: end;
// }

// Styling for slider
.switch {
  position: relative;
  display: inline-block;
  align-self: center;
  width: 30px;
  height: 14px;
  margin-right: 0.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #27975f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #27975f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
