<div class="dashboard">
  <div class="dashboard__side-menu">
    <a
      mat-raised-button
      routerLink="screenings/create-screening"
      color="primary"
      >Dodaj Repertuar</a
    >
    <a mat-raised-button routerLink="movies/add-movie" color="primary"
      >Dodaj Film</a
    >
    <a mat-raised-button routerLink="rooms/add-room" color="primary"
      >Dodaj Salę</a
    >
    <a mat-raised-button routerLink="coupons/add-coupon" color="primary"
      >Dodaj Kupon</a
    >
  </div>
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
