<header class="header">
  <div class="header__title">
    <a [routerLink]="'/'">Ale kino!</a>
  </div>
  <app-button *ngIf="role !== 'admin'" icon="cart-shopping"></app-button>

  <app-button
    (clickButtonEvent)="login()"
    *ngIf="role===''"
    value="Zaloguj"
  ></app-button>

  <div class="popnav-container" *ngIf="role==='user'">
    <app-button
      (clickButtonEvent)="togglePopNavMenu()"
      [value]="'Cześć ' + username"
    ></app-button>
    <app-popup-nav
      (clickNavItemEvent)="handlePopupNavClick($event)"
      [isPopNavHidden]="isPopNavHidden"
      [navItems]="['Moje bilety', 'Chcę obejrzeć', 'Ustawienia', 'Wyloguj']"
    ></app-popup-nav>
  </div>

  <div class="popnav-container" *ngIf="role === 'admin'">
    <app-button
      (clickButtonEvent)="togglePopNavMenu()"
      value="Cześć"
    ></app-button>

    <app-popup-nav
      (clickNavItemEvent)="handlePopupNavClick($event)"
      [isPopNavHidden]="isPopNavHidden"
      [navItems]="['Moje bilety', 'Chcę obejrzeć', 'Ustawienia', 'Wyloguj']"
    ></app-popup-nav>
  </div>
</header>
