<header class="header">
  <div class="header__title">
    <a [routerLink]="'/'">Ale kino!</a>
  </div>
  <app-button *ngIf="!user.type.isAdmin" icon="cart-shopping"></app-button>

  <app-button
    (clickButtonEvent)="login()"
    *ngIf="!authState.hasUserAuth && !authState.hasAdminAuth"
    value="Zaloguj"
  ></app-button>

  <div class="popnav-container" *ngIf="authState.hasUserAuth">
    <app-button
      (clickButtonEvent)="togglePopNavMenu()"
      [value]="'Cześć ' + user.username"
    ></app-button>
    <app-popup-nav
      (clickNavItemEvent)="handlePopupNavClick($event)"
      [isPopNavHidden]="isPopNavHidden"
      [navItems]="['Moje bilety', 'Chcę obejrzeć', 'Ustawienia', 'Wyloguj']"
    ></app-popup-nav>
  </div>

  <div class="popnav-container" *ngIf="authState.hasAdminAuth">
    <app-button
      (clickButtonEvent)="togglePopNavMenu()"
      value="Cześć"
    ></app-button>

    <app-popup-nav
      (clickNavItemEvent)="handlePopupNavClick($event)"
      [isPopNavHidden]="isPopNavHidden"
      [navItems]="['Moje bilety', 'Chcę obejrzeć', 'Ustawienia', 'Wyloguj']"
    ></app-popup-nav>
  </div>
</header>
