@use "../../../colors" as colors;

.header {
  display: flex;
  justify-content: center;
  background-color: colors.$bg-color;
  gap: 1em;
  border-bottom: 0.1px solid colors.$accent-color;
  height: 50px;
  position: relative;
  padding: 1em 1em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
}

.header__title {
  color: white;
  font-size: 2em;
  text-decoration: underline;
  color: colors.$accent-color;

  &-accent {
    color: colors.$secondary-color;
    text-decoration: underline;
  }
  &-bold {
    font-weight: bold;
  }
}

.header__title > a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

.header__navigation {
  display: flex;
  gap: 20px;
}

.popnav-container {
  position: relative;
}

.header__popNav {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  background-color: white;
  right: 0;
  top: 9vh;
}

.header__popNav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.header__popNav > ul > li {
  cursor: pointer;
  padding: 5px;
}

.header__popNav > ul > li:hover {
  background-color: lightblue;
}

.hide {
  display: none;
}
