@use "../../../colors" as colors;
@use "../../../breakpoints" as breakpoints;

.header {
  display: flex;
  justify-content: center;
  background-color: colors.$bg-color;
  gap: 1em;
  border-bottom: 0.1px solid colors.$accent-color;
  height: 50px;
  position: relative;
  padding: 1em 1em;

  &__title {
    font-size: 2em;
    text-decoration: underline;
    color: colors.$accent-color;

    &-accent {
      color: colors.$secondary-color;
      text-decoration: underline;
    }
    &-bold {
      font-weight: bold;
    }

    & > a {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      text-decoration: none;
    }
  }

  &__navigation {
    display: flex;
    gap: 20px;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      min-width: 40px;
      min-height: 40px;
      padding: 10px;
      margin-left: 5px;
      margin-right: 5px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        filter: brightness(105%);
      }

      &__filled {
        background-color: colors.$accent-color;
      }

      &__outlined {
        border: 1px solid colors.$accent-color;
        color: colors.$accent-color;
        background-color: transparent;
      }
    }

    .pop-nav-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .pop-nav {
        position: absolute;
        top: 48px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 130px;
      }
    }
  }
}

.container {
  @extend .app-container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
