.header {
  display: flex;
  align-items: center;
  gap: 1em;
  border-bottom: 0.1px solid lightgray;
  height: 60px;
  position: relative;
  background-color: white;
  padding: 0 2em;
}

.header__title {
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

.header__title > a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

.popnav-container {
  position: relative;
}

.header__popNav {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  background-color: white;
  right: 0;
  top: 9vh;
}

.header__popNav > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.header__popNav > ul > li {
  cursor: pointer;
  padding: 5px;
}

.header__popNav > ul > li:hover {
  background-color: lightblue;
}

.hide {
  display: none;
}


