.rounded__list {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.rounded__listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 70px;
  // padding: 5px 20px;
  cursor: pointer;
  border-left: 1px solid lightgray;
  background-color: whitesmoke;
}

.item-wide {
  padding: 3px 25px;
}

li:first-child {
  border-left: none;
}

a {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  height: 30px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded__listItem:hover {
  background-color: lightblue;
}
