<ng-container
  *ngIf="dateInfoService.currentWeekDates$ | async as currentWeekDays"
>
  <ul
    class="rounded__list"
    *ngIf="selectedDateService.selectedDateState$ | async as selectedDate"
  >
    <li
      *ngFor="let day of currentWeekDays"
      class="rounded__list-item"
      [ngClass]="{
        disabled: day.isPast,
        active: day.date === selectedDate.date
      }"
      (click)="!day.isPast && getSelectedDay(day.dayOfTheWeek, currentWeekDays)"
    >
      <p>{{ day.dayOfTheWeek }}</p>
    </li>
  </ul>
</ng-container>
