<div class="reservation" *ngIf="screeningRoomState$ | async as roomState">
  <div class="reservation__title">
    {{ "rezerwacja" | uppercase }}
  </div>
  <div *ngIf="screeningDetails !== undefined" class="reservation__container">
    <div class="title">
      <span>{{ screeningDetails.movies.title + ",&nbsp;" }}</span>
      <span>{{ screeningDetails.date + ",&nbsp;" }}</span>
      <span>{{ screeningDetails.time }}</span>
    </div>
    <p class="screen">Ekran</p>

    <app-screening-room
      [roomId]="screeningDetails.rooms.id"
      [screeningRoomId]="screeningDetails.id"
    ></app-screening-room>
    <app-seat-ticket></app-seat-ticket>

    <a mat-raised-button color="accent" [routerLink]="'/checkout/' + roomState.ticketState.notCheckedOutOrderId" class="checkout-link">Przejdź do zamówienia</a>
  </div>
</div>
