@use "../../../../../colors" as colors;
@use "../../../../../breakpoints" as breakpoints;
@use "../../../../../styling" as styling;

.reservation {
  @extend .app-container;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;

  &__title {
    @extend .section-title;
  }
}

.title {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
  color: colors.$accent-color
}

.screen {
  display: flex;
  justify-content: center;
  border-top: 10px solid lightgray;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  margin-bottom: 2em;
  color: white;
}

.checkout-link {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  margin-top: 3em;
}
