<div class="create-screening">
  <div class="create-screening__title admin-dashboard-title">
    {{ "dodaj nowy repertuar" | uppercase }}
  </div>

  <form
    class="create-screening__form"
    [formGroup]="screeningForm"
    (ngSubmit)="sendForm(stepper)"
  >
    <mat-stepper
      [linear]="true"
      animationDuration="0ms"
      #stepper
      color="accent"
    >
      <div>
        <!-- MOVIE STEP -->
        <mat-step [stepControl]="movieInformationForm" label="Wybór Filmu">
          <div formGroupName="movieInfo" class="step-form step-form__movie">
            <mat-form-field appearance="fill">
              <mat-label>Wybierz Film</mat-label>
              <input
                type="text"
                matInput
                [formControl]="movieCtrl"
                [matAutocomplete]="autoMovie"
                placeholder="Wybierz jeden film"
                aria-label="Film"
              />
              <mat-autocomplete
                #autoMovie="matAutocomplete"
                [displayWith]="displayMovieFn"
              >
                <mat-option
                  *ngFor="let option of filteredMovieOptions | async"
                  [value]="option"
                >
                  {{ option.title }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="movieCtrl.errors">
                <mat-icon>info</mat-icon> {{ getMovieErrorMessage() }}
              </mat-error>
            </mat-form-field>

            <button
              class="form-button"
              matStepperNext
              mat-raised-button
              color="primary"
              type="button"
              [disabled]="movieCtrl.errors"
            >
              Dalej
            </button>
          </div>
        </mat-step>
        <!-- ROOM STEP -->
        <mat-step
          [stepControl]="roomInformationForm"
          label="Wybór Sali"
          errorMessage="Krok wymagany"
        >
          <div formGroupName="roomInfo" class="step-form step-form__room">
            <mat-form-field appearance="fill">
              <mat-label>Wybierz Salę</mat-label>
              <input
                type="text"
                matInput
                [formControl]="roomCtrl"
                [matAutocomplete]="autoRoom"
                placeholder="Wybierz jedeną salę"
                aria-label="Sala"
              />
              <mat-autocomplete
                #autoRoom="matAutocomplete"
                [displayWith]="displayRoomFn"
              >
                <mat-option
                  *ngFor="let option of filteredRoomOptions | async"
                  [value]="option"
                >
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="roomCtrl.errors">
                <mat-icon>info</mat-icon> {{ getRoomErrorMessage() }}
              </mat-error>
            </mat-form-field>
            <div class="nav-buttons">
              <button
                class="form-button"
                matStepperPrevious
                mat-raised-button
                color="primary"
                type="button"
              >
                Wstecz
              </button>
              <button
                class="form-button"
                matStepperNext
                mat-raised-button
                color="primary"
                type="button"
                [disabled]="roomCtrl.errors"
              >
                Dalej
              </button>
            </div>
          </div>
        </mat-step>
        <!-- DATE TIME STEP -->
        <mat-step [stepControl]="dateInformationForm" label="Data">
          <div formGroupName="dateInfo" class="step-form step-form__datetime">
            <mat-form-field appearance="fill" class="date-time-form-field">
              <mat-label>Data Rozpoczęcia</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [formControl]="dateTimeCtrl"
                placeholder="Data Rozpoczęcia"
                date-characters
              />
              <mat-hint>MM/DD/RRRR</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="dateTimeCtrl.errors"
                ><mat-icon>info</mat-icon> {{ getDateErrorMessage() }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                name="selected_time_B"
                [format]="24"
                [formControl]="timeCtrl"
                [ngxMatTimepicker]="pickerB"
                placeholder="Godzina Rozpoczęcia"
                readonly
                color="accent"
              />
              <mat-icon
                matSuffix
                (click)="canPickScreeningTime ? pickerB.open() : ''"
              >
                watch_later
              </mat-icon>
              <mat-error *ngIf="timeCtrl.errors"
                ><mat-icon>info</mat-icon> {{ getTimeErrorMessage() }}
              </mat-error>
            </mat-form-field>
            <ngx-mat-timepicker color="accent" #pickerB></ngx-mat-timepicker>

            <div class="nav-buttons">
              <button
                class="form-button"
                matStepperPrevious
                mat-raised-button
                color="primary"
                type="button"
              >
                Wstecz</button
              ><button
                class="form-button"
                matStepperNext
                mat-raised-button
                color="primary"
                type="button"
                [disabled]="
                  screeningForm.hasError('timeslotTaken') ||
                  dateTimeCtrl.errors ||
                  timeCtrl.errors
                "
              >
                Dalej
              </button>
            </div>
          </div>
        </mat-step>
        <!-- SUMMARY STEP -->
        <mat-step label="Podsumowanie">
          <div class="step-form step-form__summary">
            <ul>
              <li>Tytuł Filmu: {{ movieValue.title }}</li>
              <li>Nazwa Sali: {{ roomValue.name }}</li>
              <li>Data Seansu: {{ dateValue | date }}</li>
              <li>Czas Rozpoczęcia Seansu: {{ timeValue }}</li>
            </ul>

            <div class="nav-buttons">
              <button
                class="form-button"
                matStepperPrevious
                mat-raised-button
                color="primary"
                type="button"
              >
                Wstecz
              </button>
              <button
                type="submit"
                mat-raised-button
                color="accent"
                class="form-button"
              >
                Stwórz repertuar
              </button>
            </div>
          </div>
        </mat-step>
      </div>
    </mat-stepper>
  </form>
</div>
