<header class="header">
  <div class="header__title">
    <a [routerLink]="'/'">Ale kino!</a>
  </div>
  <app-button *ngIf="!user.type.isAdmin" icon="cart-shopping"></app-button>
  <app-button
    *ngIf="!user.type.isUser && !user.type.isAdmin"
    value="Zaloguj"
  ></app-button>
  <app-button
    *ngIf="user.type.isUser && !user.type.isAdmin"
    [value]="'Cześć ' + user.username"
  ></app-button>
  <app-button
    *ngIf="!user.type.isUser && user.type.isAdmin"
    value="Cześć"
  ></app-button>
</header>
