<header class="header">
  <div class="header__title">
    <a [routerLink]="'/'">Ale kino!</a>
  </div>
  <app-button *ngIf="!user.type.isAdmin" icon="cart-shopping"></app-button>

  <app-button
    (clickButtonEvent)="login()"
    *ngIf="!user.type.isUser && !user.type.isAdmin"
    value="Zaloguj"
  ></app-button>

  <div class="popnav-container" *ngIf="user.type.isUser && !user.type.isAdmin">
    <app-button
      (clickButtonEvent)="togglePopNavMenu()"
      [value]="'Cześć ' + user.username"
    ></app-button>
    <app-popup-nav
      [isPopNavHidden]="isPopNavHidden"
      [navItems]="['Moje bilety', 'Chcę obejrzeć', 'Ustawienia']"
    ></app-popup-nav>
  </div>

  <div class="popnav-container" *ngIf="!user.type.isUser && user.type.isAdmin">
    <app-button value="Cześć"></app-button>

    <app-popup-nav
      [isPopNavHidden]="isPopNavHidden"
      [navItems]="['Moje bilety', 'Chcę obejrzeć', 'Ustawienia']"
    ></app-popup-nav>
  </div>
</header>
