<div *ngIf="isLoaded">
  <div class="title">
    <span>{{ screeningDetails.movies.title + ",&nbsp;" }}</span>
    <span>{{ screeningDetails.date + ",&nbsp;" }}</span>
    <span>{{ screeningDetails.time }}</span>
  </div>
  <p class="screen">Ekran</p>

  <app-screening-room
    *ngIf="isLoaded"
    [roomId]="screeningDetails.roomsId"
    [screeningRoomId]="screeningDetails.id"
  ></app-screening-room>
  <app-seat-ticket></app-seat-ticket>

  <a [routerLink]="'/checkout'" class="checkoutLink">Przejdź do zamówienia</a>
</div>
