<footer class="footer">
  <div class="footer__nav">
    <div class="footer__navSocial">
      <fa-icon [icon]="faFacebook" class="footer__navSocialIcon"></fa-icon>
      <fa-icon [icon]="faInstagram" class="footer__navSocialIcon"></fa-icon>
      <fa-icon [icon]="faYoutube" class="footer__navSocialIcon"></fa-icon>
    </div>
    <div class="footer__navPage">
      <ul>
        <li><a href="">O nas</a></li>
        <li><a href="">Praca</a></li>
        <li><a href="">Regulamin</a></li>
        <li>
          <a href="">Wynajem sal</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer__copyright">&copy; Ale kino! 2022</div>
</footer>
