@use "../../../../colors" as colors;
.create-screening {
  display: flex;
  flex-direction: column;

  &__title {
    color: colors.$accent-color;
    text-transform: capitalize;
    text-decoration: underline;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    font-size: 1.5em;
  }

  &__form {
    border: 1px solid colors.$accent-color;
    border-radius: 10px;
    background-color: colors.$bg-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6em 4em;
  }
}

.step-form {
  display: flex;
  flex-direction: column;

  &__movie {
    .form-button {
      align-self: end;
    }
  }

  .nav-buttons {
    display: flex;
    justify-content: space-between;
  }
}

.form-button {
  height: 50px;
  min-width: 100px;
}
