<div class="create-screening">
  <div class="create-screening__title">
    {{ "dodaj nowy repertuar" | uppercase }}
  </div>

  <form
    class="create-screening__form"
    [formGroup]="screeningForm"
    (ngSubmit)="sendForm()"
  >
    <mat-stepper
      [linear]="true"
      animationDuration="0ms"
      #stepper
      color="accent"
    >
      <div>
        <!-- MOVIE STEP -->
        <mat-step [stepControl]="movieInformationForm" label="Wybór Filmu">
          <div formGroupName="movieInfo" class="step-form step-form__movie">
            <mat-form-field appearance="fill">
              <mat-label>Wybierz Film</mat-label>
              <input
                type="text"
                matInput
                [formControl]="movieCtrl"
                [matAutocomplete]="autoMovie"
                placeholder="Wybierz jeden film"
                aria-label="Film"
              />
              <mat-autocomplete
                #autoMovie="matAutocomplete"
                [displayWith]="displayMovieFn"
              >
                <mat-option
                  *ngFor="let option of filteredMovieOptions | async"
                  [value]="option"
                >
                  {{ option.title }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="movieCtrl.hasError('required')"
                ><mat-icon>info</mat-icon> Pole Film jest wymagane
              </mat-error>
            </mat-form-field>

            <button
              class="form-button"
              matStepperNext
              mat-raised-button
              color="primary"
              type="button"
            >
              Dalej
            </button>
          </div>
        </mat-step>
        <!-- ROOM STEP -->
        <mat-step
          [stepControl]="roomInformationForm"
          label="Wybór Sali"
          errorMessage="Krok wymagany"
        >
          <div formGroupName="roomInfo" class="step-form step-form__room">
            <mat-form-field appearance="fill">
              <mat-label>Wybierz Salę</mat-label>
              <input
                type="text"
                matInput
                [formControl]="roomCtrl"
                [matAutocomplete]="autoRoom"
                placeholder="Wybierz jedeną salę"
                aria-label="Sala"
              />
              <mat-autocomplete
                #autoRoom="matAutocomplete"
                [displayWith]="displayRoomFn"
              >
                <mat-option
                  *ngFor="let option of filteredRoomOptions | async"
                  [value]="option"
                >
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="roomCtrl.hasError('required')"
                ><mat-icon>info</mat-icon> Pole Sala jest wymagane
              </mat-error>
            </mat-form-field>
            <div class="nav-buttons">
              <button
                class="form-button"
                matStepperPrevious
                mat-raised-button
                color="primary"
                type="button"
              >
                Wstecz
              </button>
              <button
                class="form-button"
                matStepperNext
                mat-raised-button
                color="primary"
                type="button"
              >
                Dalej
              </button>
            </div>
          </div>
        </mat-step>
        <!-- DATE TIME STEP -->
        <mat-step [stepControl]="dateInformationForm" label="Data">
          <div formGroupName="dateInfo" class="step-form step-form__datetime">
            <mat-form-field appearance="fill" class="date-time-form-field">
              <mat-label>Data Rozpoczęcia</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [formControl]="dateTimeCtrl"
                placeholder="Data Rozpoczęcia"
              />
              <mat-hint>MM/DD/RRRR</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="dateTimeCtrl.hasError('required')"
                ><mat-icon>info</mat-icon> Pole Data Rozpoczęcia jest wymagane
              </mat-error>
            </mat-form-field>

            <div class="nav-buttons">
              <button
                class="form-button"
                matStepperPrevious
                mat-raised-button
                color="primary"
                type="button"
              >
                Wstecz</button
              ><button
                class="form-button"
                matStepperNext
                mat-raised-button
                color="primary"
                type="button"
              >
                Dalej
              </button>
            </div>
          </div>
        </mat-step>
        <!-- SUMMARY STEP -->
        <mat-step label="Podsumowanie">
          <div class="step-form step-form__summary">
            <div class="nav-buttons">
              <button
                class="form-button"
                matStepperPrevious
                mat-raised-button
                color="primary"
                type="button"
              >
                Wstecz
              </button>
              <button
                type="submit"
                mat-raised-button
                color="accent"
                class="form-button"
              >
                Stwórz repertuar
              </button>
            </div>
          </div>
        </mat-step>
      </div>
    </mat-stepper>
  </form>
</div>
