@use '../../../colors' as colors;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  height: 75vh;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 15px;
}

.login-form__input {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.login-form__input > input {
  padding: 1em;
}

.loginForm__errorMessage {
  color: red;
}

input.ng-touched.ng-invalid {
  border-color: red;
}



