@use "../../../../../colors" as colors;
@use "../../../../../breakpoints" as breakpoints;
@use "../../../../../styling" as styling;

.summary {
  @extend .app-container;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;

  &__title {
    @extend .section-title;
  }
}

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.qr-code {
  max-width: 300px;
}
