@use "@angular/material" as mat;
@use "colors" as colors;

@include mat.core();

$my-typography: mat.define-typography-config(
  $font-family: "Roboto",
);

$gold-palette: (
  100: #ffe5d4,
  200: #ffe1cd,
  300: #fbd2b7,
  500: #fbd2b7,
  600: #fbd2b7,
  700: #af8b73,
  800: #cf582e,
  900: #cf582e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$app-name-primary: mat.define-palette($gold-palette, 600, 300, 800, 600);
$app-name-accent: mat.define-palette(mat.$pink-palette);
$app-name-warn: mat.define-palette(mat.$red-palette);

$app-name-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-name-primary,
      accent: $app-name-accent,
      warn: $app-name-warn,
    ),
    typography: $my-typography,
  )
);

@include mat.input-color($app-name-theme);
@include mat.form-field-color($app-name-theme);
@include mat.select-color($app-name-theme);
@include mat.chips-color($app-name-theme);
@include mat.button-color($app-name-theme);

.mat-form-field-outline-start {
  background-color: white !important;
}

.mat-form-field-outline-gap {
  background-color: white !important;
}

.mat-form-field-outline-end {
  background-color: white !important;
}

.date-time-form-field .mat-mdc-icon-button {
  color: gray;
}

/// STEPPER
.mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: transparent;
}
.mat-step-text-label{
  color: white;
}

.mat-step-header .mat-step-icon {
  background-color: gray;
}

.mat-stepper-horizontal-line {
  border-color: colors.$accent-color
}

.checkout-form__slide > .mdc-form-field>label {
  color: white;
}
