
@use 'colors' as colors;
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin: 0 auto;
  height: 100vh;
  background-color: colors.$bg-color;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
