@use "colors" as colors;
@use "breakpoints" as breakpoints;
@use "material" as material;
@use "styling" as styling;
@use "forms" as forms;
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

* {
  margin: 0;
  padding: 0;
}

body {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin: 0 auto;
  height: 100vh;
  background-color: colors.$bg-color;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
