@use "../../../../colors" as colors;
.add-room {
  display: flex;
  flex-direction: column;

  &__form {
    border: 1px solid colors.$accent-color;
    border-radius: 10px;
    background-color: colors.$bg-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12em 8em;
    gap: 50px;
  }
  &__rows-and-cols {
    display: flex;
    gap: 1rem;
    & > * {
      width: 50%;
    }
  }
}
.form-button {
  height: 50px;
  margin-bottom: 2em;

  &--submit {
    align-self: end;
    margin-top: 4em;
  }
}
