<div class="add-container">
  <div class="admin-dashboard-title">
    {{ "dodaj nowy film" | uppercase }}
  </div>

  <form
    class="add-container__form add-container__form--flex-row"
    [formGroup]="movieForm"
    (ngSubmit)="sendForm()"
  >
    <div class="add-container__form-left">
      <mat-form-field appearance="fill">
        <mat-label>Tytuł</mat-label>
        <input
          type="text"
          matInput
          placeholder="Tytuł"
          color="primary"
          formControlName="title"
          trim-whitespace
        />
        <mat-error *ngIf="titleCtrl.hasError('required')"
          ><mat-icon>info</mat-icon> Pole tytuł jest wymagane
        </mat-error>
        <mat-error *ngIf="titleCtrl.hasError('maxlength')"
          ><mat-icon>info</mat-icon> Maksymalna liczba znaków to
          {{ titleCtrl.errors!["maxlength"]["requiredLength"] }}
        </mat-error>
        <mat-error *ngIf="titleCtrl.hasError('minlength')"
          ><mat-icon>info</mat-icon> Minimalna liczba znaków to
          {{ titleCtrl.errors!["minlength"]["requiredLength"] }}
        </mat-error>
        <mat-error *ngIf="titleCtrl.hasError('pattern')"
          ><mat-icon>info</mat-icon> Podany tytuł jest nieprawidłowy
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="textarea-form-field">
        <mat-label>Opis</mat-label>
        <textarea
          matInput
          placeholder="Opis"
          rows="16"
          formControlName="description"
          trim-whitespace
        ></textarea>

        <div
          *ngIf="descriptionCtrl.valueChanges | async as description"
          class="textarea-form-field__letter-counter"
        >
          {{ description.length + " / " + MAX_DESCRIPTION_LENGTH }}
        </div>

        <mat-error *ngIf="descriptionCtrl.hasError('required')"
          ><mat-icon>info</mat-icon> Pole opis jest wymagane </mat-error
        ><mat-error *ngIf="descriptionCtrl.hasError('maxlength')"
          ><mat-icon>info</mat-icon> Maksymalna liczba znaków to
          {{ descriptionCtrl.errors!["maxlength"]["requiredLength"] }}
        </mat-error>
        <mat-error *ngIf="descriptionCtrl.hasError('minlength')"
          ><mat-icon>info</mat-icon> Minimalna liczba znaków to
          {{ descriptionCtrl.errors!["minlength"]["requiredLength"] }}
        </mat-error>
        <mat-error *ngIf="descriptionCtrl.hasError('pattern')"
          ><mat-icon>info</mat-icon> Podany opis jest nieprawidłowy
        </mat-error>
      </mat-form-field>
    </div>

    <div class="add-container__form-right">
      <mat-form-field appearance="fill" *ngIf="tags$ | async as tags">
        <mat-label>Kategoria Filmu</mat-label>
        <mat-select [formControl]="tagsCtrl" multiple>
          <mat-select-trigger>
            <mat-chip-listbox>
              <mat-chip-option
                *ngFor="let tag of tagsCtrl.value"
                [removable]="true"
                (removed)="onTagRemoved(tag)"
              >
                {{ tag }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip-option>
            </mat-chip-listbox>
          </mat-select-trigger>

          <mat-option *ngFor="let tag of tags" [value]="tag.name">{{
            tag.name
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="tagsCtrl.hasError('required')"
          ><mat-icon>info</mat-icon> Pole Kategoria Filmu jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="ratings$ | async as ratings">
        <mat-label>Kategoria Wiekowa</mat-label>
        <mat-select [formControl]="ratedCtrl">
          <mat-option *ngFor="let rating of ratings" [value]="rating.name">{{
            rating.name
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="ratedCtrl.hasError('required')"
          ><mat-icon>info</mat-icon> Pole Kategoria Wiekowa jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Czas Trwania</mat-label>
        <input
          type="number"
          matInput
          placeholder="Czas Trwania"
          formControlName="length"
          [min]="MIN_MOVIE_LENGTH"
          [max]="MAX_MOVIE_LENGTH"
          trim-whitespace
        />
        <mat-error *ngIf="lengthCtrl.errors"
          ><mat-icon>info</mat-icon> {{ getLengthErrorMessage() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Premiera</mat-label>
        <mat-select [formControl]="premiereCtrl">
          <mat-option
            *ngFor="let premiereOption of premiereOptions"
            [value]="premiereOption.value"
          >
            {{ premiereOption.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="premiereCtrl.hasError('required')"
          ><mat-icon>info</mat-icon> Pole Premiera jest wymagane
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Plakat</mat-label>
        <input
          type="text"
          matInput
          placeholder="Link URL Plakatu"
          color="primary"
          formControlName="image"
          name="length"
          autocomplete="off"
          trim-whitespace
        />
        <mat-error *ngIf="imageCtrl.hasError('required')"
          ><mat-icon>info</mat-icon> Pole Plakat jest wymagane
        </mat-error>
        <mat-error *ngIf="imageCtrl.hasError('minlength')">
          <mat-icon>info</mat-icon> Minimalna liczba znaków to
          {{ imageCtrl.errors!["minlength"]["requiredLength"] }}
        </mat-error>
        <mat-error *ngIf="imageCtrl.hasError('maxlength')">
          <mat-icon>info</mat-icon> Maksymalna liczba znaków to
          {{ imageCtrl.errors!["maxlength"]["requiredLength"] }}
        </mat-error>
        <mat-error *ngIf="imageCtrl.hasError('pattern')"
          ><mat-icon>info</mat-icon> Podany adres URL jest nieprawidłowy
        </mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="accent"
        class="form-button form-button--submit"
      >
        Dodaj Film
      </button>
    </div>
  </form>
</div>
