<div class="blik-payment">
  <div class="blik-payment__title">
    {{ "płatność blik" | uppercase }}
  </div>

  <div class="blik-payment__container">
    <img
      class="blik-payment__image"
      src="https://blik.com/layout/default/dist/gfx/logo/logo.svg"
      alt=""
    />
    <form
      [formGroup]="blikForm"
      class="blik-payment__form"
      (ngSubmit)="sendForm()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Kod Blik</mat-label>
        <input
          type="text"
          matInput
          placeholder="Kod Blik"
          formControlName="blikCode"
          numbers-only
        />
        <mat-error *ngIf="blikCodeCtrl.invalid">{{
          getBlikCodeErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <button
        [disabled]="!blikForm.valid"
        mat-raised-button
        class="blik-payment__button"
        color="accent"
        type="submit"
      >
        Zamawiam
      </button>
    </form>
    <ng-container *ngIf="screeningId$ | async as screeningId"
      ><ng-container *ngIf="orderId$ | async as orderId">
        <a
          class="blik-payment__return"
          [routerLink]="'/checkout/' + screeningId + '/' + orderId"
          >Powrót do rezerwacji</a
        ></ng-container
      ></ng-container
    >
  </div>
</div>
