@use "../../../../../colors" as colors;
@use "../../../../../breakpoints" as breakpoints;
@use "../../../../../styling" as styling;

.blik-payment {
  @extend .app-container;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;

  &__title {
    @extend .section-title;
  }

  &__container {
    @extend .section-container;
    gap: 3.5em;
    padding: 4em;
  }

  &__image{
    padding: 0 1em;
    flex: 1;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 3.5em;
    flex: 1;
  }

  &__return {
    color: inherit;
    text-align: center;
  }
}
