@use "../../../../../colors" as colors;
@use "../../../../../breakpoints" as breakpoints;
@use "../../../../../styling" as styling;


.checkout {
  @extend .app-container;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    @extend .section-title;
  }

  &__return {
    color: inherit;
    text-align: center;
  }
}

.checkout__container {
  @extend .section-container;
  gap: 2em;
  padding: 1em;
  margin-bottom: 4em;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  align-self: center;

  &__slide {
    padding-top: 1em;
    padding-bottom: 2.5em;
    & > label {
      color: white;
    }
  }

  &__button {
    align-self: flex-end;
  }
}

@include breakpoints.media-md {
  .checkout__container {
    padding: 4em;
  }
}
