<div class="checkout">
  <div class="checkout__title">
    {{ "podsumowanie zamówienia" | uppercase }}
  </div>

  <div class="checkout__container">
    <app-checkout-order></app-checkout-order>

    <form
      *ngIf="orderId$ | async as orderId"
      [formGroup]="checkoutForm"
      class="checkout-form"
      (ngSubmit)="sendForm(orderId)"
    >
      <mat-form-field appearance="fill">
        <mat-label>Imię</mat-label>
        <input
          type="text"
          matInput
          placeholder="Imię"
          formControlName="firstName"
          letters-only
        />
        <mat-error *ngIf="firstNameCtrl.invalid">{{
          getNameErrorMessage(firstNameCtrl, "Imię")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nazwisko</mat-label>
        <input
          type="text"
          matInput
          placeholder="Nazwisko"
          formControlName="lastName"
          letters-only
        />
        <mat-error *ngIf="lastNameCtrl.invalid">{{
          getNameErrorMessage(lastNameCtrl, "Nazwisko")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Numer telefonu</mat-label>
        <input
          type="email"
          matInput
          placeholder="Numer telefonu"
          formControlName="phoneNumber"
          numbers-only
          [maxInputLength]="9"
        />
        <mat-error *ngIf="phoneNumberCtrl.invalid">{{
          getPhoneNumberErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"
        />
        <mat-error *ngIf="emailCtrl.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Powtórz Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="emailRepeat"
        />
        <mat-error *ngIf="emailRepeatCtrl.invalid">{{
          getEmailErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <mat-slide-toggle
        formControlName="newsletter"
        color="accent"
        class="checkout-form__slide"
        >Chcę otrzymywać informację o zniżkach, promocjach itp</mat-slide-toggle
      >

      <mat-form-field appearance="fill">
        <mat-label>Kod zniżkowy</mat-label>
        <input
          type="text"
          matInput
          placeholder="Kod zniżkowy"
          formControlName="discountCode"
        />
        <mat-error *ngIf="discountCodeCtrl.invalid">{{
          getCouponCodeErrorMessage()
        }}</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        class="checkout-form__button"
        color="accent"
        type="submit"
      >
        Zamawiam
      </button>
    </form>

    <a
      *ngIf="screeningId$ | async as screeningId"
      class="checkout__return"
      [routerLink]="'/reservation/' + screeningId"
      >Powrót do rezerwacji</a
    >
  </div>
</div>
