<div class="reservation" *ngIf="screeningRoomState$ | async as roomState">
  <app-checkout-order></app-checkout-order>

  <form class="checkoutForm" [formGroup]="checkoutForm" (ngSubmit)="sendForm()">
    <div class="checkoutForm__field">
      <label for="firstName">Imię: </label>
      <input
        [class.error]="firstNameCtrl.touched && firstNameCtrl.errors"
        type="text"
        id="firstName"
        placeholder="Imię*"
        formControlName="firstName"
      />
      <ng-container *ngIf="firstNameCtrl.errors as errors">
        <ng-container *ngIf="firstNameCtrl.touched">
          <p class="checkoutForm__errorMessage" *ngIf="errors['required']">
            Te pole jest obowiązkowe
          </p>
          <p
            class="checkoutForm__errorMessage"
            *ngIf="errors['minlength'] as milLength"
          >
            Podałeś {{ milLength.actualLength }} znaki, minimum to
            {{ milLength.requiredLength }}
          </p>
        </ng-container>
      </ng-container>
    </div>

    <div class="checkoutForm__field">
      <label for="lastName">Nazwisko:</label>
      <input
        type="text"
        id="lastName"
        placeholder="Nazwisko*"
        formControlName="lastName"
      />
      <ng-container *ngIf="lastNameCtrl.errors as errors">
        <ng-container *ngIf="lastNameCtrl.touched">
          <p class="checkoutForm__errorMessage" *ngIf="errors['required']">
            Te pole jest obowiązkowe
          </p>
        </ng-container>
      </ng-container>
    </div>

    <div class="checkoutForm__field">
      <label for="phoneNumber">Numer telefonu: </label>
      <input
        type="tel"
        id="phoneNumber"
        placeholder="Numer telefonu"
        formControlName="phoneNumber"
      />
    </div>

    <div class="checkoutForm__field">
      <label for="email">Adres email: </label>
      <input
        type="email"
        placeholder="Adres e-mail*"
        id="email"
        formControlName="email"
      />
      <ng-container *ngIf="emailCtrl.errors as errors">
        <ng-container *ngIf="emailCtrl.touched">
          <p class="checkoutForm__errorMessage" *ngIf="errors['required']">
            Te pole jest obowiązkowe
          </p>
          <p class="checkoutForm__errorMessage" *ngIf="errors['email']">
            Podany adres email jest nieprawidłowy
          </p>
        </ng-container>
      </ng-container>
    </div>

    <div class="checkoutForm__field">
      <label for="re-email">Powtórz adres email: </label>
      <input
        type="email"
        placeholder="Powtórz adres e-mail*"
        id="re-email"
        formControlName="emailRepeat"
      />
      <ng-container *ngIf="emailRepeatCtrl.errors as errors">
        <ng-container *ngIf="emailRepeatCtrl.touched">
          <p class="checkoutForm__errorMessage" *ngIf="errors['required']">
            Te pole jest obowiązkowe
          </p>
          <p class="checkoutForm__errorMessage" *ngIf="errors['email']">
            Podany adres email jest nieprawidłowy
          </p>
        </ng-container>
      </ng-container>
    </div>

    <div class="checkoutForm__field">
      <div class="newsletter">
        <label class="switch">
          <input type="checkbox" formControlName="hasDiscountCode" />
          <span class="slider round"></span>
        </label>
        <p>Chcę otrzymywać informację o zniżkach, promocjach itp</p>
      </div>
    </div>

    <div class="checkoutForm__field">
      <label for="code">Kod zniżkowy: </label>
      <input
        type="text"
        placeholder="Kod zniżkowy"
        id="code"
        formControlName="discountCode"
      />
    </div>

    <app-button
      type="submit"
      [value]="'Zamawiam!'"
      class="btn-submit"
    ></app-button>
    <a [routerLink]="'/reservation/' + roomState.screeningDetails?.id">Wróć do wyboru mniejsc</a>
  </form>
</div>
