<div class="seats" *ngIf="roomSetupData">
  <ul *ngFor="let rowLetter of roomSetupData.rowLetters">
    <li class="seatLetter">{{ rowLetter }}</li>
    <li
      [id]="rowLetter + rowNumber"
      class="seatNumber"
      *ngFor="let rowNumber of roomSetupData.rowNumbers"
      (click)="!isReserved(rowLetter, rowNumber) ? toggleSeat(rowLetter, rowNumber) : {}"
      [ngClass]="{
        selected: isSelected(rowLetter, rowNumber),
        reserved: isReserved(rowLetter, rowNumber)
      }"
    >
      {{ rowNumber }}
    </li>
  </ul>
</div>
