<div class="container" *ngIf="orderDetails$ | async as orderDetails">
  <div
    class="selectedMovie"
    *ngIf="orderDetails.screeningDetails as screeningDetails"
  >
    {{ screeningDetails.movies.title }}, {{ screeningDetails.date }}, godz.{{
      screeningDetails.time
    }}
  </div>

  <div
    class="ticketList"
    *ngIf="orderDetails.orderTickets as openOrderTicketList"
  >
    <div class="ticketList__item" *ngFor="let ticket of openOrderTicketList">
      <div class="ticketList__ticketSeat">
        Rząd {{ ticket.seat.row }} Miejsce
        {{ ticket.seat.seatNumber }}
      </div>
      <div class="ticketList__ticketPrice">
        {{ ticket.ticketTypes?.price }} PLN
      </div>
    </div>
    <div class="ticketList__total">
      <div class="ticketList__totalLabel">razem</div>
      <div
        class="ticketList__totalPrice"
        *ngIf="totalOrderPrice$ | async as totalOrderPrice"
      >
        {{ totalOrderPrice }} PLN
      </div>
    </div>
  </div>
</div>
