.title {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.screen {
  display: flex;
  justify-content: center;
  border-top: 2px solid lightgray;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  margin-bottom: 2em;
}

.seats {
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: 30px;
  height: 30px;
}

.green {
  background-color: greenyellow;
}

.seatLetter {
  background-color: rgb(230, 230, 230);
}
.seatNumber:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.seatInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 2em;
}

.seat__ticketType {
  padding: 5px 10px;
}

.checkoutLink {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
