<div *ngIf="isLoaded">
  <div class="title">
    <span>{{ screeningDetails.movies.title + ',&nbsp;'}}</span>
    <span>{{ screeningDetails.date + ',&nbsp;'}}</span>
    <span>{{ screeningDetails.time}}</span>
  </div>
  <p class="screen">Ekran</p>
  <div class="seats">
    <ul *ngFor="let rowLetter of rowLetters">
      <li class="seatLetter">{{ rowLetter }}</li>
      <li
        [id]="rowLetter + rowNumber"
        class="seatNumber"
        *ngFor="let rowNumber of rowNumbers"
        (click)="addSeat(rowLetter, rowNumber)"
        [ngClass]="{ green: isSelected }"
      >
        {{ rowNumber }}
      </li>
    </ul>
  </div>

  <div class="seatInfo">
    <div class="seat__placement">Rząd E Miejsce 6</div>
    <select class="seat__ticketType">
      <option *ngFor="let ticketType of ticketTypes" [value]="ticketType.type">
        {{ ticketType.type }}
      </option>
    </select>
    <div class="seat__removeIcon">
      <fa-icon [icon]="icon"></fa-icon>
    </div>
    <div class="seat__ticketPrice">22 PLN</div>
  </div>

  <a [routerLink]="'/checkout'" class="checkoutLink">Przejdź do zamówienia</a>
</div>
