<div class="order-details" *ngIf="orderDetails$ | async as orderDetails">
  <div class="order-details__title">
    {{ "Szczegóły zamówienia" | uppercase }}
  </div>
  <div class="order-details__tickets">
    <div class="order-details__tickets-title">
      {{ orderDetails.screeningDetails.movies.title }} |
      {{ orderDetails.screeningDetails.date }} |
      {{ orderDetails.screeningDetails.time }}
    </div>
    <div class="order-details__ticket" *ngFor="let ticket of orderDetails.orderTickets; let i = index">
      Bilet {{ i + 1 }} Typ: {{ ticket.ticketTypes?.type }} Miejsce:
      {{ ticket.seat.row }} {{ ticket.seat.seatNumber }}
    </div>
  </div>
</div>
