@use "../../../../../colors" as colors;
@use "../../../../../breakpoints" as breakpoints;

.movie {
  @extend .app-container;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2em;
  margin: 0 auto;
  border-bottom: 1px solid colors.$secondary-accent-color;
  padding-top: 2em;
  padding-bottom: 2em;
}

.movie__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}

.movie__image-text {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 148px;
  top: 0;
  color: colors.$secondary-color;
  padding: 0.5em 1em;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.75);
}

.movie__image-picture {
  width: 148px;
  height: 217px;
}

.movie__details {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-title {
    color: white;
    font-weight: semi-bold;
    margin: 0;
  }

  &-tags {
    color: #9b9b9b;
  }

  &-description {
    color: white;
  }
}

.movie__details-more {
  display: flex;
  justify-content: flex-end;

  & > a {
    text-decoration: inherit;
    color: #9b9b9b;
    text-decoration: underline;
    cursor: pointer;
  }
}

.movie__additional-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  &__display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__text {
    color: #9b9b9b;
    font-size: 0.875em;
  }

  &__score-number {
    color: colors.$accent-color;
    font-size: 2em;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    color: gray;
    font-size: 2.5em;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  // &__score {
  // }

  // &__rate-it {

  // }
}

.movie__score-button {
  margin-top: 10px;
}

.hover-effect:hover {
  filter: brightness(150%);
}
