<section
  class="movie"
  *ngIf="(authStateService.auth$ | async)?.role as userRole"
>
  <div class="movie__image">
    <div class="movie__image-container">
      <p class="movie__image-text" *ngIf="movie.premiere">Premiera</p>
      <img class="movie__image-picture" [src]="movie.image" alt="" /><img />
    </div>
  </div>
  <div class="movie__details">
    <h3 class="movie__details-title">
      {{ movie.title | uppercase }}
    </h3>
    <div class="movie__details-tags">
      <div class="movie__details-tags__list" *ngFor="let tag of movie.tags">
        {{ tag + " | " }}
      </div>
      {{ movie.length }} minut |
      {{ movie.rated }}
    </div>

    <div
      class="movie__details-description"
      [ngClass]="{ 'text-short': textShort }"
      #getHeight
    >
      {{ movie.description }} {{ getHeight.offsetHeight }}
    </div>
    <div class="movie__details-more">
      <div class="hover-effect text-more" [ngClass]="{'text-more__hide': getHeight.offsetHeight < 60}" (click)="toggleTextLength()">
        Czytaj więcej
      </div>
    </div>

    <app-time-nav
      *ngIf="screenings.length !== 0"
      [screenings]="screenings"
    ></app-time-nav>
  </div>
  <div class="movie__additional-info">
    <div class="movie__additional-info__score movie__additional-info__display">
      <div class="movie__additional-info__score-number">
        {{
          movie.score
            ? (movie.score.points / movie.score.votes | number : "1.0-0") +
              "/10"
            : "N/A"
        }}
      </div>
      <div class="movie__additional-info__text">Średnia ocena</div>
    </div>

    <div *ngIf="(userStateService.user$ | async)?.ratedMovies as ratedMovies">
      <div
        class="movie__additional-info__rate-it movie__additional-info__display"
        *ngIf="
          userRole === 'user' &&
          !userStateService.movieOnTheList(movie.id!, ratedMovies)
        "
      >
        <mat-icon
          class="movie__additional-info__icon hover-effect"
          (click)="openDialog(movie.id!)"
          >thumbs_up_down</mat-icon
        >
        <div class="movie__additional-info__text">Oceń ten film!</div>
      </div>
    </div>
    <div
      *ngIf="(userStateService.user$ | async)?.movieWatchList as movieWatchList"
      class="movie__additional-info__container"
    >
      <div
        class="movie__additional-info__rate-it movie__additional-info__display"
        *ngIf="userRole === 'user'"
      >
        <mat-icon
          class="movie__additional-info__icon hover-effect"
          (click)="toggleWatchListMovie(movie.id!)"
          >{{
            userStateService.movieOnTheList(movie.id!, movieWatchList)
              ? "favorite"
              : "favorite_outline"
          }}</mat-icon
        >
        <div class="movie__additional-info__text">Chcę obejrzeć</div>
      </div>
    </div>
  </div>
</section>
