<section class="movie">
  <div class="movie__image">
    <p class="movie__imageText">Premiera</p>
    <img
      class="movie__imagePicture"
      src="../../assets/img/imagePlaceholder.png"
      alt=""
    />
  </div>
  <div class="movie__details">
    <div class="movie__detailsTitle">Apokawixa</div>
    <div class="movie__detailsTags">Horror | 120 minut | PG-13</div>
    <div class="movie__detailsDescription">
      Lorem ipsum dolor sit amet, alii rebum postea eam ex. Et mei laoreet
      officiis, summo sensibus id mei.
    </div>
    <div class="movie__detailsMore"><a href="">Więcej</a></div>
    <app-rounded-nav [items] = "items"></app-rounded-nav>
  </div>
  <div class="movie__score">
    <p class="movie__scoreText">8/10</p>
    <app-button *ngIf="user.type.isUser" value="Oceń ten film!" class="movie__scoreButton"></app-button>
    <app-button *ngIf="user.type.isUser" value="Chcę zobaczyć" class="movie__scoreButton"></app-button>
  </div>
</section>
