<section class="movie">
  <div class="movie__image">
    <p class="movie__imageText">Premiera</p>
    <img
      class="movie__imagePicture"
      src="../../assets/img/imagePlaceholder.png"
      alt=""
    />
  </div>
  <div class="movie__details">
    <div class="movie__detailsTitle">Apokawixa</div>
    <div class="movie__detailsTags">Horror | 120 minut | PG-13</div>
    <div class="movie__detailsDescription">
      Lorem ipsum dolor sit amet, alii rebum postea eam ex. Et mei laoreet
      officiis, summo sensibus id mei.
    </div>
  </div>
  <div class="movie__score">8/10</div>
</section>
