@use "../../../../../colors" as colors;
@use "../../../../../breakpoints" as breakpoints;
@use "../../../../../styling" as styling;

.orders {
  @extend .app-container;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;

  &__title {
    @extend .section-title;
  }

  &__navigation {
    @extend .section-container;
    // gap: 2em;
    padding: 4em;
    margin-bottom: 4em;

    &__link {
      color: inherit;
      padding: 1rem 1rem;
      background-color: colors.$bg-color;
    }

    &__link:nth-child(odd) {
      background-color: colors.$primary-color;
    }

    &__link:hover {
      filter:brightness(140%)
    }
    &__link:nth-child(even):hover {
      filter:brightness(180%)
    }
  }
}
