<div class="seatInfo" *ngFor="let selectedSeat of seatSelectionState">
  <div class="seat__placement">
    {{
      "Rząd &nbsp;" +
        selectedSeat.seat.row +
        "&nbsp; Miejsce &nbsp;" +
        (selectedSeat.seat.seatNumber < 10
          ? "0" + selectedSeat.seat.seatNumber
          : selectedSeat.seat.seatNumber)
    }}
  </div>
  <select class="seat__ticketType" (change)="onSelected(tickets.value)" #tickets>
    <option *ngFor="let ticketType of ticketTypes" [value]="ticketType.id">
      {{ ticketType.type }}
    </option>
  </select>
  <div
    class="seat__removeIcon"
    (click)="removeTicket(selectedSeat.seat.row, selectedSeat.seat.seatNumber)"
  >
    <fa-icon [icon]="icon"></fa-icon>
  </div>
  <div class="seat__ticketPrice">22 PLN</div>
</div>
