.seatInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 0.5em;
  color: white
}

.seat__ticketType {
  padding: 5px 10px;
}
.seat__removeIcon {
  cursor: pointer;
}
