<div class="seatInfo" *ngFor="let ticket of selectedTickets">
  <div class="seat__placement">
    {{
      "Rząd &nbsp;" +
        ticket.seat.row +
        "&nbsp; Miejsce &nbsp;" +
        (ticket.seat.seatNumber < 10
          ? "0" + ticket.seat.seatNumber
          : ticket.seat.seatNumber)
    }}
  </div>
  <select
    class="seat__ticketType"
    (change)="onSelected(ticket, tickets.value)"
    #tickets
  >
    <option
      *ngFor="let ticketType of ticketTypes"
      [value]="ticketType.id"
      [selected]="ticket.ticketTypesId === ticketType.id ? 'selected' : false"
    >
      {{ ticketType.type }}
    </option>
  </select>
  <div
    class="seat__removeIcon"
    (click)="removeTicket(ticket.seat.row, ticket.seat.seatNumber)"
  >
    <fa-icon [icon]="icon"></fa-icon>
  </div>
  <div class="seat__ticketPrice">
    {{ getTicketPrice(ticket.ticketTypesId) }} PLN
  </div>
</div>
